#title{
  background-color: orange;
  width:100%;
  text-align:center;
  height:100px;
  font-size: 30pt;
}
#pickText{
  text-align: center;

}
.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20pt;
}
.button {
  position: absolute;
  top: 38%;
  right: 35%;
  font-size: 20pt;
}
#select{
  font-size: 20pt;
  margin: 200% 0 100% 0;
}
#button{
  background-color: cadetblue;
}
#agh{
  position: absolute;
  background-color: green;
  bottom: 10%;
  left: 45%;
  width: 100px;
  mix-blend-mode: multiply;
}
#topic{
  position: absolute;
  text-align: center;
  bottom: 5%;
  left: 30%;
}
.button a {
  color: #000000;
  text-decoration: none;
}
.button a:hover {
  color: green;
}
body{
  background-color: whitesmoke;
}
