#form {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  height: 550px;
  background-image: url("https://pwcbh.blob.core.windows.net/products/kartka2.jpg");
  font-size: 15pt;
  font-family: 'Gloria Hallelujah', cursive;
}
select > option{
  font-size: 15pt;
}
select{
  font-size: 15pt;
}
#AddTitle{
  position: absolute;
  top: 18%;
  left: 36%;
  font-size: 1.6rem;
  text-decoration: underline black;
}
#Name{
  position: absolute;
  top: 29%;
  left: 45%;
}
#NameSelect{
  position: absolute;
  top: 37%;
  left: 43%;
}
#NameTitle{
  position: absolute;
  top: 30%;
  left: 40%;
}
#QuantityTitle{
  position: absolute;
  top: 46%;
  left: 47%;
}
#Quantity{
  position: absolute;
  top: 51%;
  left: 38%;
  text-align: center;
}
#Type{
  position: absolute;
  top: 63%;
  left: 40%;
}
#TypeSelect{
  position: absolute;
  top: 65%;
  left: 38%;
  text-align: center;
}
#TypeTitle{
  position: absolute;
  top: 59%;
  left: 44%;
}
#button {
  position: absolute;
  top: 75%;
  right: 39%;
  font-size: 15pt;
  background: none;
  font-family: 'Gloria Hallelujah', cursive;
  border: none;
  text-decoration: underline black;
}

#button:hover{
  color: indianred;
}

#errorAdd{
  position: absolute;
  font-size: 15pt;
  top: 85%;
  left: 40%;
}
#errorQuantity{
  position: absolute;
  font-size: 15pt;
  top: 85%;
  left: 40%;
}
