<div id="form">
  <label  id="RegisterTitle" >Rejestracja</label>
  <label  id="EmailTitle" for="Email">Email</label>
  <label  id="PasswordTitle" for="Password">Hasło</label>
  <input  type="text" [defaultValue]="" id="Email" name="Email" (change)="assignEmail($event.target)">
  <input  type="password" [defaultValue]="" id="Password" name="Password" (change)="assignPassword($event.target)">
  <label  id="NameTitle" for="Name">Imię</label>
  <label  id="SurnameTitle" for="Surname">Nazwisko</label>
  <input  type="text" [defaultValue]="" id="Name" name="Name" (change)="assignName($event.target)">
  <input  type="text" [defaultValue]="" id="Surname" name="Surname" (change)="assignSurname($event.target)">

  <button id="button" class="button">
    <a (click)="register()">Rejestruj</a>
  </button>

</div>
