#lista{
  background-image: url("https://pwcbh.blob.core.windows.net/products/kartka2.jpg");
}

table {
  width: 70%;
}
table {
  border: 1px solid lightblue;
  border-collapse: collapse;
}
table{
  border-left: none;
  border-right: none;
}
tr {
  border-bottom: 2px solid lightblue;
  border-top: 2px solid lightblue;
}
table td, table th {
  text-align: center;
}
td:last-of-type {
  border-right: 3px solid indianred;
  width: 20%;
}
img{
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#buttonAddProductToWarehouse{
  border: none;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1rem;
  background: none;

}
p{
  position: relative;
  left: 13%;
}
button:hover {
  color: indianred;
}
