<button id="wyloguj" (click)="logout()">Wyloguj</button>
<div id = "lista" *ngFor="let row of lists">
  <p>Nazwa : {{row.name}} , Zrealizowac do : {{row.dueTo}}
    <button id="buttonUpdateProductList" (click) = "addListId(row.id)">Zmien</button>
    <button id="buttonDeleteProductList" (click) = "deleteList(row.id)">Usun</button>
  </p>
  <table>
    <tr>
      <td>Nazwa produktu</td>
      <td>Gramatura</td>
      <td>Rodzaj gramatury</td>
    </tr>
    <tr *ngFor="let product of row.products" [ngClass]="!product.bought ? 'null' : 'crossed'" >
      <td (click) = "cross(product.id)">{{product.name}}</td>
      <td>{{product.quantity}}</td>
      <td>{{product.type}}</td>
      <button id="buttonUpdateProduct" (click) = "updateProduct(product.id)">Zmien</button>
      <button id="buttonDeleteProduct" (click) = "deleteProduct(product.id)">Usun</button>
    </tr>
    <p>Opis : {{row.description}}</p>
    <button id="buttonAddProduct" (click) = "addListName(row.name)">Dodaj produkt</button>
  </table>
</div>
<p></p>
<button id="buttonAddProductList" (click) = "addNewList()">Dodaj nową listę</button>
