#nazwa {
  position: relative;
  left: 5%;
  font-size: 1.2rem;
  width: 90%;
}
* {
  box-sizing: border-box;
}

table {
  position: relative;
  left: 10%;
  width: 80%;
  border: 1px solid lightblue;
  border-collapse: collapse;
}

table{
  border-left: none;
  border-right: none;
}

td:last-of-type {
  border-left: 3px solid indianred;
  width: 20%;
}

tr {
  border-bottom: 2px solid lightblue;
  border-top: 2px solid lightblue;
}

#kropka {
  width: 5%;
}

#opis {
  position: relative;
  left: 5%;
  bottom: 10%;
  font-size: 1.4rem;
  width: 90%;
}

#button{
  right: 20%;
}

#buttonUpdateProductList{
  border: none;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1rem;
  background: none;

}

#buttonDeleteProductList{
  border: none;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1rem;
  background: none;

}

#buttonAddProductList{
  position: relative;
  left: 37%;
  top: 10%;
  border: none;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.4rem;
  background-image: url("https://pwcbh.blob.core.windows.net/products/kartka2.jpg");

}
#buttonAddProduct{
  position: relative;
  left: 10%;
  border: none;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.2rem;
  background: none;

}

#buttonUpdateProduct{
  border: none;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 0.9rem;
  background: none;

}
#buttonDeleteProduct{
  border: none;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 0.9rem;
  background: none;

}

.container{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
}

#profil{
  position: sticky;
  top: 17%;
  width: 40%;
  bottom: 17%;
  height: 650px;
  background-image: url("https://pwcbh.blob.core.windows.net/products/kartka2.jpg");
  margin: 0;
  padding: 0;
}

#listy{
  top: 0;
  width: 50%;
}

#lista {
  width: 100%;
  position: relative;
  /*left: 45%;*/
  left: 0;
  top: 0;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.4rem;
  background-image: url("https://pwcbh.blob.core.windows.net/products/kartka2.jpg");
  box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.15);
  padding: 0;

  border-radius: 0.1rem;
}

#ikonka{
  left: 0;
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#name_surname{
  position: relative;
  left: 33%;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.4rem;
}

#money_icon{
  color: green;
  position: relative;
  top: 3%;
  left: 45%;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.4rem;

}

#money_icon2{
  color: green;
  position: relative;
  left: 45%;
  bottom: 6%;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.4rem;
}

#money{
  position: relative;
  left: 37%;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.4rem;
}

#wplacanie{
  position: relative;
  bottom: 3%;
  left: 30%;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.4rem;
}

#add{
  border: none;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.1rem;
  background: none;

}

#add:hover {
  color: green;
}

button{
  background-color: whitesmoke;
}
button:hover {
  color: indianred;
}
#wyloguj{
  position: absolute;
  right: 41%;
  bottom : 11%;
  width: 20%;
  border: none;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.1rem;
  text-decoration: underline black;
  background: none;

}
#wyloguj a {
  color: #000000;
  text-decoration: none;
}
.crossed{
 text-decoration: line-through;
}
img{
  height: 80px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


::marker {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='14' viewBox='0 0 50 50'%3E%3Cpath d='M46.4 16.2c-2.3-2.3-5.4-3.5-8.4-4.5-.5-.2-1.1-.3-1.6-.5-1.6-1.6-3.7-2.8-6.2-3.2-1-.2-1.9.1-2.5.6-.9-.3-1.8-.6-2.7-.8-3.2-1-6.4-1.8-9.5-.1-1 .5-1.9 1.2-2.7 2-6.4 1.4-11.7 5-12.4 12.7C0 27 1.9 31.5 4.9 34.9c.1.6.2 1.1.4 1.7 1 3.2 3.3 5.7 6.7 6.5 2.7.6 5.4-.2 7.9-1.2 3.3.4 6.7.3 9.9 0 6.5-.7 13.3-2.8 17.1-8.5 3.6-5.2 4-12.6-.5-17.2zm-17.3.9c2.1.4 4 1.7 4.7 3.8 0 .5-.1 1.1-.2 1.6-.3 1.4-.8 2.6-1.6 3.7-.7.2-1.5.1-2.3-.4-.8-.4-1.6-1-2.2-1.6-.4-.4-1.2-1.7-1.6-1.9 3.4 1.3 5.1-3 3.2-5.2zm-11.6 9.7c.2-1.9 1.1-3.9 2.3-5.5-.4 2.1.3 4.2 1.7 6 1.3 1.7 3.1 3.2 5 4.2-.2.1-.4.2-.6.4-.1 0-.1.1-.2.1-3.9.2-8.7-.8-8.2-5.2zm-6.4 3.1c.1.3.1.7.2 1 .2.6.4 1.2.7 1.8-.4-.2-.7-.5-1-.7.1-.8.1-1.4.1-2.1zm31.2-1.3c-.9 1.7-2.1 3.1-3.7 4.1 2-2.1 3.4-4.7 4-7.6.2-.7.3-1.4.3-2.1.6 1.5.5 3.3-.6 5.6z'/%3E%3C/svg%3E") ' ';
}