<div id="form">
  <label class="centered" id="AddTitle" >NOWY PRODUKT</label>
  <label class="centered" id="NameTitle" for="Name">Name</label>
  <input class="centered" type="text" [defaultValue]="" id="Name" name="Name" (change)="assignName($event.target)">
  <label class="centered" id="QuantityTitle" for="Quantity">Quantity</label>
  <label class="centered" id="TypeTitle" for="Type">Type</label>
  <input class="centered" type="text" [defaultValue]="" id="Quantity" name="Quantity" (change)="assignQuantity($event.target)">
  <input class="centered" type="text" [defaultValue]="" id="Type" name="Type" (change)="assignType($event.target)">

  <label class="centered" id="error" *ngIf="addOk" style="color:#990000">Dodawanie nie powiodlo sie!!!</label>
  <button id="button" class="button">
    <a (click)="addProductToList()">Dodaj produkt</a>
  </button>

</div>
