<div id="form">
  <label id="AddTitle" >NOWY PRODUKT</label>
  <label id="NameTitle" for="NameSelect">Nazwa produktu</label>
  <select id="NameSelect" [(ngModel)] = "selectedName" (change)="assignNameSelect($event.target)">
    <option value="drukarka">drukarka</option>
    <option value="wiertarka">wiertarka</option>
    <option value="chleb" >chleb</option>
    <option value="maslo">maslo</option>
    <option value="szynka">szynka</option>
    <option value="ser">ser</option>
    <option value="ciastka">ciastka</option>
    <option value="cukier">cukier</option>
    <option value="mleko">mleko</option>
  </select>
  <label id="QuantityTitle" for="Quantity">Ilość</label>
  <label id="TypeTitle" for="TypeSelect">Gramatura</label>
  <input type="number" [min]="1" [step]="1" [defaultValue]="1" [(ngModel)] = "quantity" id="Quantity" name="Quantity" (change)="assignQuantity($event.target)">
  <input readonly name="TypeSelect" id="TypeSelect" [(ngModel)] = "selectedType">
  <label id="error" *ngIf="addOk" style="color:#990000">Dodawanie nie powiodlo sie!!!</label>
  <button id="button">
    <a (click)="addProductToList()">Dodaj produkt</a>
  </button>

</div>
