#form {
  position: absolute;
  top: 20%;
  left: 30%;
  height: 550px;
  width: 40%;
  background-image: url("https://pwcbh.blob.core.windows.net/products/kartka2.jpg");
  font-size: 15pt;
  font-family: 'Gloria Hallelujah', cursive;
}

#AddTitle{
  position: absolute;
  top: 22%;
  left: 32%;
}
#Name{
  position: absolute;
  top: 35%;
  left: 38%;
}
#NameTitle{
  position: absolute;
  top: 30%;
  left: 46%;
}
#DescriptionTitle{
  position: absolute;
  top: 40%;
  left: 47%;
}
#Description{
  position: absolute;
  top: 45%;
  left: 26%;
  width: 50%;
}
#DueTo{
  position: absolute;
  top: 60%;
  left: 43%;
  height: 20px;
}
#DueToTitle{
  position: absolute;
  top: 53%;
  left: 40%;
}
#button {
  position: absolute;
  top: 75%;
  right: 28%;
  font-size: 15pt;
  border: none;
  background: none;
  font-family: 'Gloria Hallelujah', cursive;
}

#button:hover{
  text-decoration: underline black;
}

#error{
  position: absolute;
  font-size: 15pt;
  top: 85%;
  left: 30%;
}
