<div id="form">
  <label id="LoginTitle" >LOGIN</label>
  <label  id="EmailTitle" for="Email">Email</label>
  <label  id="PasswordTitle" for="Password">Hasło</label>
  <input  type="text" [defaultValue]="" id="Email" name="Email" (change)="assignLogin($event.target)">
  <input type="password" [defaultValue]="" id="Password" name="Password" (change)="assignPassword($event.target)" >

  <label  id="Register">
    <a id = "link" routerLink="/register">Rejestracja</a>
  </label>

  <label id="error" *ngIf="loginOk" style="color:#990000">Błąd logowania!!!</label>
  <button id="submitbutton">
    <a (click)="login()">Zaloguj</a>
  </button>

</div>
