#form{
  width: 40%;
  height: 450px;
  position: absolute;
  top: 200px;
  left: 30%;
  background-image: url("https://pwcbh.blob.core.windows.net/products/kartka2.jpg");
  padding: 0;
  font-family: 'Gloria Hallelujah', cursive;
}

#LoginTitle{
  position: absolute;
  text-decoration: underline wavy red;
  top: 10%;
  left: 44%;
  font-size: 1.6rem;
}

#EmailTitle{
  position: absolute;
  top: 25%;
  left: 47%;
  font-size: 1.3rem;
}

#Email{
  position: absolute;
  top: 32%;
  left: 35%;
  width: 30%;
}

#PasswordTitle{
  position: absolute;
  top: 45%;
  left: 47%;
  font-size: 1.3rem;
}

#Password{
  position: absolute;
  top: 52%;
  left: 35%;
  width: 30%;
}

#Register{
  position: absolute;
  top: 63%;
  right: 43%;
}

#submitbutton{
  position: absolute;
  top: 74%;
  left: 44%;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.3rem;
  border: none;
  background: none;
}

#error{
  position: absolute;
  top: 80%;
  left: 42%;
  font-size: 1rem;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
