#form{
  width: 40%;
  height: 450px;
  position: relative;
  top: 100px;
  left: 30%;
  background: white;
  padding: 0;
  font-family: 'Gloria Hallelujah', cursive;
}

#LoginTitle{
  position: relative;
  text-decoration: underline wavy red;
  top: 10%;
  left: 44%;
  font-size: 1.6rem;
}

#EmailTitle{
  position: relative;
  top: 25%;
  left: 35%;
  font-size: 1.3rem;
}

#Email{
  position: relative;
  top: 30%;
  left: 9%;
  width: 30%;
}

#PasswordTitle{
  position: relative;
  top: 45%;
  left: 28%;
  font-size: 1.3rem;
}

#Password{
  position: relative;
  top: 50%;
  right: 22%;
  width: 30%;
}

#Register{
  position: relative;
  top: 59%;
  right: 43%;
}

#submitbutton{
  position: relative;
  top: 65%;
  left: 44%;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.3rem;
  border: none;
  background: white;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
